  body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 14px;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:visited {
    color: white;
  }
  a:link {
    color: white;
  }
  
  #footer {
    border: 1px solid;
    font-size: 12px;
    position: absolute;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color: #4A3C68;
  }

  #info-left {
    position: absolute;
    top: 20px;
    left: 25px;
  }
  #info-right {
    position: absolute;
    top: 20px;
    right: 25px;
    text-align: right;
  }
  #book-grab-area {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    cursor: grab;
  }
  #outer-container {
    border: 5px solid;
    position: absolute;
    padding: 10px;
    top: 20px;
    width: 40%;
    left: 30%;
    right: 30%;
    text-align: center;
  }

  #congratulations {
    position: absolute;
    visibility: hidden;
    text-align: center;
  }
  #new-game {
    position: absolute;
    font-size: 18px;
    width: 50%;
    left: 25%;
    right: 25%;
   
  }